<h1 class="inline-padding">
  Who are the contributors to Open Source Projects?
</h1>
<h2 class="inline-padding">(Ex: Mastodon - Open Source Project)</h2>
<!-- <p class="inline-padding">This data is obtained from an open API.</p> -->
<!-- <div class="inline-padding">
  Learn more about the source API
  <a href="https://docs.opencollective.com/help/contributing/development/api"
    ><strong>here</strong></a
  >
</div> -->
<div class="logo inline-padding">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Mastodon_Logotype_%28Simple%29.svg/953px-Mastodon_Logotype_%28Simple%29.svg.png"
    alt="mastodon_logo"
  />
</div>
<br />
<div class="button-wrapper inline-padding">
  <button (click)="retrieveData()">Get Contributors</button>
</div>

<div class="member-details">
  <ng-container *ngFor="let item of membersDetails">
    <div class="collective-card">
      <div class="primary">
        <div class="profile-details">
          <h2>{{ item.name }}</h2>
          <div>{{ item.company }}</div>
          <div>{{ item.role }}</div>
          <a [href]="item.profile"
            ><img
              [src]="item.image"
              alt="company_logo"
              height="120px"
              width="120px"
          /></a>
        </div>
        <div class="additional-profile-details">
          <div class="profile-description">
            <div><strong>About</strong>{{ item.description }}</div>
            <div>
              <strong>Type of contributor</strong>{{ item.type.toUpperCase() }}
            </div>
          </div>

          <div class="transactions-details">
            <div>
              <p>Last transaction amount</p>
              <span>{{
                item.lastTransactionAmount | currency : item.currency
              }}</span>
            </div>
            <div>
              <p>Total amount donated</p>
              <span>{{
                item.totalAmountDonated | currency : item.currency
              }}</span>
            </div>
            <div>
              <p>Last transaction at</p>
              <span>{{ item.lastTransactionAt | date }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="secondary">
        <div class="additional-fields">
          <div class="website">
            <strong>Website </strong
            ><a [href]="item.website">{{ item.website }}</a>
          </div>
          <div>
            <strong>GitHub </strong
            ><a [href]="item.github">{{ item.github }}</a>
            <span>{{ item.github ? "" : "N/A" }}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
